{% extends 'base.html' %}

{% block content %}

<form action="#" method="post">

    <div class="container p-5 my-5 bg-dark rounded-5">
        <p class="text-warning text-center fs-5"> PLEASE FILL IN ALL OF YOUR ACTIVITIES </p>
    </div>

    {% for i in range(actamount) %}
        <div class="container p-5 my-5 bg-dark rounded-5">

            <div class="form-floating mb-3 mt-3">
                <select id="activty{{ i }}" class="form-control" name="activity{{ i }}" required>
                    <option value="" disabled selected>Please choose your activity</option>
                    <option value="ZIPLINE">ZIPLINE</option>
                    <option value="WA">WATER ABSEILING</option>
                    <option value="LOF">LEAP OF FAITH</option>
                    <option value="WCLIMB">WALL CLIMBING</option>   
                </select>
                <label for="activity{{ i }}" class="form-label">Activity {{ i+1 }}</label>
            </div>

            <div class="form-floating mb-3 mt-3">
                <input class="form-control" type="date" name="act_date{{ i }}" id="act_date{{ i }}" placeholder="Please enter activity date {{ i }}">
                <label class="form-label" for="act_date{{ i }}">Please enter activity {{ i + 1 }} date</label>
            </div>

            <div class="form-floating mb-3 mt-3">
                <select class="form-control" id="act_time{{ i }}" name="act_time{{ i }}">
                    <option value="" disabled selected>Please choose a time</option>
                    <option value="AM930">AM - 9:30</option>
                    <option value="AM1130">AM - 11:00</option>
                    <option value="PM530">PM - 5:00</option>
                </select>
                <label class="form-label" for="act_time{{ i }}">Please enter activity {{ i + 1 }} time</label>
            </div>
        </div>
    {% endfor %}
    <div class="container p-5 my-5 bg-dark rounded-5">
        <div class="form-floating mb-3 mt-3">
            <div class="d-grid">
                <input type="submit" class="btn btn-outline-warning btn-block" value="Next">
            </div>
        </div>
    </div>
</form>

{% endblock %}