{% extends 'base.html' %}

{% block content %}
<form action="#" method="post">
	<div class="container p-5 my-5 bg-dark rounded-5">
	    <div class="row g-4 align-items-center">
	    	<div class="col-auto">
			    <span id="passwordHelpInline" class="form-text text-warning">
			    	PLEASE INSERT THE GROUP NAME HERE AND THEN GENERATE BOOKING ID :
			    </span>
			</div>
	    	<div class="col-auto">
	    		<input type="text" name="bookingName" id="bookingName" class="form-control" placeholder="Group Name" required>
	    	</div>
		    <div class="col-auto text-center">
				<input id="submit" type="submit" class="btn btn-outline-warning btn-block" value="Generate Booking ID :">
			</div>
			<div class="col-auto text-center">
				<input class="form-control user-select-all" type="text" value="{% if C_bookingID %} {{ C_bookingID }} {% endif %}" aria-label="CbookingID" disabled readonly>
				<div class="">
				    <span id="passwordHelpInline" class="form-text text-warning">
						{% if bookingName %} {{ bookingName }} {% endif %}
				    </span>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}