{% extends 'base.html' %}
{% block content %}
	<div class="container p-5 my-5 bg-dark rounded-5 text-center pt-4 text-warning">
		<h2> PWAP Personal Information Indemnity Form </h2>
	</div>
	
	<form action="#" method="post">
		<div class="container p-5 my-5 bg-dark rounded-5">
			<div class="form-floating mb-3 mt-3">
				<input type="text" class="form-control" name="fullname" id="fullname" placeholder="Please enter your full name" required>
				<label for="fullname" class="form-label">Full Name</label>
			</div>
			
			<div class="form-floating mb-3 mt-3">
				<select class="form-select" name="gender" id="gender" required>
					<option value="" disabled selected>Please choose your gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
				<label for="gender" class="form-label">Gender</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<select id="age" class="form-control" name="age" required>
					<option value="" disabled selected>Please choose your Age Group</option>
					<option value="below12">Below 12</option>
					<option value="13-17">13-17</option>
	              	<option value="18-30">18-30</option>
	              	<option value="31-40">31-40</option>
	              	<option value="41-50">41-50</option>
	              	<option value="above50">51 or Above</option>
				</select>
				<label for="age" class="form-label">Age</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="number" class="form-control" name="NRIC" id="NRIC" placeholder="Please enter your NRIC/Passport" required>
				<label for="NRIC" class="form-label">NRIC / Passport</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="email" id="email" class="form-control" name="email" placeholder="Please enter your email" required>
				<label for="email" class="form-label">E-mail</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="number" name="contact" class="form-control" id="contact" placeholder="Please enter your contact number" required>
				<label for="contact" class="form-label">Contact Number</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="text" name="lineaddress" class="form-control" id="lineaddress" placeholder="Please enter your full address" required>
				<label for="lineaddress" class="form-label">Line Address</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="number" name="postcode" id="postcode" class="form-control" placeholder="Please enter your postcode" required>
				<label for="postcode" class="form-label">Postcode</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<select id="state" name="state" class="form-control" required>
					<option value="" disabled selected>Please choose your state</option>
					<option value="Johor">Johor</option>
	              	<option value="Kedah">Kedah</option>
	              	<option value="Kelantan">Kelantan</option>
	              	<option value="Kuala Lumpur">Kuala Lumpur</option>
	              	<option value="Labuan">Labuan</option>
	              	<option value="Melaka">Melaka</option>
	              	<option value="Negeri Sembilan">Negeri Sembilan</option>
	              	<option value="Pahang">Pahang</option>
	              	<option value="Penang">Penang</option>
	              	<option value="Perak">Perak</option>
	              	<option value="Perlis">Perlis</option>
	              	<option value="Sabah">Sabah</option>
	              	<option value="Sarawak">Sarawak</option>
	              	<option value="Selangor">Selangor</option>
	              	<option value="Terengganu">Terengganu</option>
	              	<option value="Other">Other</option>
				</select>
				<label for="state" class="form-label">State</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="text" class="form-control" name="country" id="country" placeholder="Please enter your country" required>
				<label for="country" class="form-label">Country</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<input type="text" name="nationality" id="nationality class" class="form-control" placeholder="Please enter your nationality" required>
				<label for="nationality" class="form-label">Nationality</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<select id="race" class="form-control" name="race" required>
					<option value="" disabled selected>Please choose your race</option>
					<option value="Malay">Malay</option>
	              	<option value="Chinese">Chinese</option>
	              	<option value="Indian">Indian</option>
	              	<option value="Other">Other</option>
				</select>
				<label for="race" class="form-label">Race</label>
			</div>

			<div class="form-floating mb-3 mt-3">
				<select id="staynot" class="form-control" name="staynot"
				required>
					<option value="" disabled selected>Please choose your booking status</option>
					<option value="stayinguest"> Stay In Guest </option>
            		<option value="nonstayinguest"> Non Stay In Guest </option>				
            	</select>
            	<label for="staynot" class="form-label">Booking Status</label>
			</div>

			<div class="form-floating mb-3 mt-3">
            	<input type="number" class="form-control" name="actamount" id="actamount" placeholder="Please enter amount of activity" required>
            	<label for="actamount" class="form-label">Please enter amount of activity</label>
        	</div>
		</div>

		<div class="container p-5 my-5 bg-dark text-white rounded-5">
			<div class="row g-3 align-items-center">
			  <div class="col-auto">
			    <label for="bookingID" class="col-form-label">Booking ID</label>
			  </div>
			  <div class="col-auto">
			    <input type="text" name="bookingID" id="bookingID" class="form-control" aria-describedby="pSasswordHelpInline" required>
			  </div>
			  <div class="col-auto">
			    <span id="BOOKID" class="form-text text-warning">
			      PLEASE GET YOUR BOOKING ID FROM YOUR PIC
			    </span>
			  </div>
			</div>
		</div>

		<div class="container p-5 my-5 bg-dark rounded-5">
			<div class="d-grid">
			  <input type="submit" class="btn btn-outline-warning btn-block" value="Next">
			</div>
		</div>
	</form>

{% endblock %}
